@font-face {
  font-weight: 500;
  font-family: "ITC Avant Garde Gothic";
  font-style: normal;
  src:
    url("./../assets/fonts/ITCAvantGardeStd-Md.woff2") format("woff2"),
    url("./../assets/fonts/ITCAvantGardeStd-Md.woff") format("woff");
  font-display: swap;
}
